<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <label for="name">Nom :</label>
    <input id="name" formControlName="name">
    <br><br>
  
    <label for="email">Adresse e-mail :</label>
    <input id="email" formControlName="email">
    <br><br>
  
    <label for="message">Message :</label>
    <textarea id="message" formControlName="message"></textarea>
    <br><br>
  
    <button type="submit">Envoyer</button> <button type="reset">Annuler</button>
  </form>
  
  <h2>Users</h2>
  <ul>
    <li *ngFor="let contact_form of contact_forms">
      {{ contact_form.name }} ({{ contact_form.email }}) - {{ contact_form.message }}
    </li>
  </ul>